html,
body {
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'ss01' 1, 'lnum' 1, 'pnum' 1;
    font-synthesis: none;
}

@font-face {
    font-family: 'Pryvat Sans';
    src: url('fonts/PryvatSans-Regular.ttf?v=1') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pryvat Sans';
    src: url('fonts/PryvatSans-Bold.ttf?v=1') format('truetype');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
